{% load i18n %}
{% load socialaccount %}
{% load account %}


<div class="container">

    <h1>LOGIN</h1>
    <form action="" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <a href="{% url 'account_reset_password' %}">forget your password?</a> <br>

        <button class="btn btn-secondary" type="submit" >Log In</button>
        
    </form> <hr>
    <a class="btn btn-success" href="{% url 'account_signup' %}">Donnot have an account?Signup</a><br>
    <a href="{% provider_login_url 'google' %}">signin with Google</a><br>
</div>