{% extends "base.html" %}
{% load i18n %}
{% load socialaccount %}
{% load account %}
{% load crispy_forms_tags %}
{% block content %}
  
<div class="m-auto">
    <div class="container">
            <h1>ورود</h1>
            <form action="" method="post">
                {% csrf_token %}
                {{form|crispy}}
                <a href="{% url 'account_reset_password' %}">رمز را فراموش کرده ام</a> <br>

                <button class="btn btn-success" type="submit" >ورود</button>
                
            </form> <hr>
            <a class="btn btn-secondary" href="{% url 'account_signup' %}">اکانت ندارید؟بسازید</a><br>
            {% comment %} <a href="{% provider_login_url 'google' %}">با گوگل وارد شوید</a><br>  {% endcomment %}
    </div>
</div>
{% endblock content %}
