{% extends "base.html" %}
{% block content %}

<section class="h-100 " >
    <div class="container h-100 py-5 " style="background-color: rgb(73, 63, 100)">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-10">
  
          <div class="d-flex justify-content-between align-items-center mb-4">
            <h3 class="fw-normal mb-0 text-light">کارت خرید</h3>
            <div>
              <!-- <p class="mb-0"><span class="text-muted">Sort by:</span> <a href="#!" class="text-body">price <i
                    class="fas fa-angle-down mt-1"></i></a></p> -->
            </div>
          </div>
          {% for cart_item in cart_items %} 
          <div class="card rounded-3 mb-4">
            <div class="card-body p-4">
              <div class="row d-flex justify-content-between align-items-center">
                <div class="col-md-2 col-lg-2 col-xl-2">
                  <img
                    src="{{ cart_item.product.image.url }}"
                    class="img-fluid rounded-3" alt="Cotton T-shirt">
           
                </div>
                <div class="col-md-3 col-lg-3 col-xl-3">
                  <p class="lead fw-normal mb-2">{{cart_item.product.name}}</p>
                  {% comment %} <p><span class="text-muted">Color: </span>Grey</p> {% endcomment %}
                </div>
                <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                  
                    <form action="{% url 'update_cart' cart_item.id %}" method="post">
                        {% csrf_token %}
                        <input id="form1" min="0" name="quantity" value="{{cart_item.quantity}}" type="number"
                    class="form-control form-control-sm" />
                    
                  
  
                  
                </div>
                <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                  <h5 class="mb-0">${{cart_item.product.price}}</h5>
                  
                </div>
                
                <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                  <a href="#!" class="text-danger"><i class="fas fa-trash fa-lg"></i></a>
                  <button class="btn btn-outline-secondary" type="submit">بروزرسانی</button>
                    </form>
                
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
  
         

  
          <div class="card mb-4">
            <div class="card-body p-4 d-flex flex-row">
              <div class="form-outline flex-fill">
                <input type="text" id="form1" class="form-control form-control-lg" />
                <label class="form-label" for="form1">کد تخفیف</label>
              </div>
              <button type="button" class="btn btn-outline-secondary btn-lg ms-3">اعمال</button>
            </div>
          </div>
  
          <div class="card">
            <div class="card-body">
              <button type="button" class="btn btn-secondary btn-block btn-lg">نهایی کردن خرید</button>
            </div>
          </div>
  
        </div>
      </div>
    </div>
  </section>



{% endblock content %}