{% extends 'base.html' %}
{% load cart_tag %}
{% block content %}

{% if request.session.cart.items %}

{% for key,value in request.session.cart.items %}

<div class="card" style="width: 18rem;">
    <img src="{{value.image}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h1 class="card-title">{{value.name}}</h1> <p>quantity = {{value.quantity}}</p>
      <h3>{{value.price}}</h3>
      <p>in total you have {{ value.price|multiply:value.quantity }} added to your cart</p>
      <a href="{% url 'item_increment' value.product_id %}">+1</a>
      <a href="{% url 'item_decrement' value.product_id %}">-1</a>


    
      <a href="{% url 'item_clear' value.product_id %}" class="btn btn-primary">delete item</a>
      <a href="{% url 'cart_clear' %}" class="btn btn-primary">clear cart</a>
      <a href="#" class="btn btn-primary">pay</a>
    </div>
  </div>

{% endfor %}
{% else %}
<div class="card" style="width: 18rem;">
    <img src="{{value.image}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h1 class="card-title">cart</h1> <p>quantity = 0</p>



      <a href="#" class="btn btn-primary">pay</a>
    </div>
  </div>
 
{% endif %}
 

{% endblock content %}