{% extends "base.html" %}
{% block content %}
{% load static %}
  
<div class="container">
<div>
    <h1>{{product.name}}</h1>
    <p>{{ product.discription }}</p>
    <h3>{{product.price}}</h3>
</div>
{% if product.image %}

<img id="image" src="{{ product.image.url }}" alt="{{user.username}}" height="150" width="150"/> <br>
{% else %}

  <img src="{% static 'img/basket.png' %}" alt="" height="150" width="150"> <br>

{% endif %}
<a href="{% url 'add-to-cart' product.id %}">add to cart</a><br>


<a href="{% url 'update_item' product.id %}">update</a><br>
<a href="{% url 'delete' product.id %}">delete</a> <br>

  {% if user.is_authenticated %}
    
  
<br>
    {% if not product.comments.all %}
      No comments yet... <a href="{% url 'comment' product.id %}">add comment</a>
    {% else %}
      <a href="{% url 'comment' product.id %}">add comment</a>
    {% for comment in product.comments.all %}
        <strong>
          <br> {{comment.author}} - {{comment.date_added}} <br>
                {{comment.body}}
        </strong>
    {% endfor %}
    {% endif %}
    {% endif %}


{% if not user.is_authenticated %}
{% if not product.comments.all %}
  No comments yet... <a href="{% url 'account_login'  %}">add comment</a>
{% else %}
  <a href="{% url 'account_login'  %}">add comment</a>
{% for comment in product.comments.all %}
  <strong>
    <br> {{comment.author}} - {{comment.date_added}} <br>
      <p>{{comment.body}}</p>
  </strong>
{% endfor %}
{% endif %}
{% endif %}
</div> 
</div>


{% endblock content %}