{% extends "base.html" %}
{% block content %}
  

{% load comment_tags %}
<div>
    <h1>{{product.name}}</h1>
    <p>{{ product.discription }}</p>
    <h3>{{product.price}}</h3>
</div>
{% if product.image %}

<img id="image" src="{{ product.image.url }}" alt="{{user.username}}" height="150" width="150"/> <br>
  
{% endif %}

<a href="{% url 'update_item' product.id %}">update</a><br>
<a href="{% url 'delete' product.id %}">delete</a> <br>


<br>

{% render_comments request product settings_slug='default-config' %}
{% endblock content %}