{% extends 'base.html' %}
{% load i18n %}
{% load socialaccount %}
{% load account %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="container">
{% if searched %}
<h1>you searched for '{{ searched }}'</h1>
<div class="container">
  <div class="row py-5">
      <div class="container px-4 px-lg-5 mt-5">
      <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
{% for product in products %}
<div class="col mb-5">
  <div class=" card h-100">
      <!-- Product image-->
      {% if product.image %}

        <img id="image" src="{{ product.image.url }}" class="card-img-top " alt="{{user.username}}" height="300" width="450"/> 
        {% else %}
        
          <img src="{% static 'img/basket.png' %}" class="card-img-top img-thumbnail" alt="" height="300" width="450"> 
        
        {% endif %}
      <!-- Product details-->
      <div class="card-body p-4">
          <div class="text-center">
              <!-- Product name-->
              <h5 class="fw-bolder">{{ product.name }}</h5>
              <!-- Product price-->
              ${{ product.price }}
          </div>
      </div>
      <!-- Product actions-->
      <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
          <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'item_detail' product.id %}">detail</a></div>
      </div>
      <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
          <div class="text-center"><a class="btn btn-outline-secondary mt-auto" href="{% url 'add-to-cart' product.id %}">add to cart</a></div>
      </div>
  </div>
</div>
</div>
</div>

</div>
</div>
</div>

</div>

{% endfor %}
{% else %}
<h1>hey you forgot to search</h1>  
{% endif %}
</div> 
</div>    
</div>    
</div>    
</div>    

{% endblock content %}